app:
  name: 'blockchain'
  version: '1.0.0'

http:
  port: '8081'

logger:
  log_level: 'debug'
  rollbar_env: 'blockchain'

postgres:
  pool_max: 2
  url : 'postgres://postgres:postgres@localhost:5432/postgres'

jwt:
  secret_key: 'superSecretKey'
  access_token_ttl: 900

blockchain:
  genesis_address: "1Pq4qTbgTH4KhmFiPQ91YXVyyK5oo6aX1G"

transport:
  user:
    host: http://127.0.0.1:8080
    timeout: 5s
  userGrpc:
    host: localhost:9090
